.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo h1{
    font-size: 4rem;
}

.conteudo h2 {
    color: #ff2d52;
    font-size: 2rem;
    font-weight: 600;
}

@media(max-width: 430px) {
    .conteudo h1{
        font-size: 3rem;
    }
}