.container__skills {
    margin-top: 25px;
    display: flex;
    
}

.solo__component {
    padding: 10px;
    background-color: #FF3E60;
    margin: 0 6px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: ease-in-out .1s;
    cursor: crosshair;
}

.solo__component:hover {
    transform: scale(1.08);
}