.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.lbl-nome {
    width: 45px;
}

.lbl-email {
    width: 50px;
}

.lbl-mensagem {
    width: 80px;
}

label {
    font-size: 1.1rem;
    margin-bottom: 5px;
    display: block;
    position: relative;
    padding: 2px;
    background: #FB485E;
    border-radius: 50px 0px 50px 0px;
    top: 10px;
    left: 2px;
    transform: rotate(-5deg);
    font-size: .8rem;
    text-align: center;
}

input, textarea {
    outline: none;
    border: none;
    padding: 10px;
    width: 20rem;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
    border: solid 1px #FB485E;
}

input {
    height: 2rem;
    width: 20rem;
}

textarea {
    resize: none;
    margin-bottom: 10px;
    height: 10rem;
}

.btn-enviar {
    cursor: pointer;
    background: #FB485E;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    transition: ease-in-out .1s;
}

.btn-enviar:hover {
    transform: scale(1.05);
}

.errorMsg {
    font-size: .8rem;
    color: red;
}