.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 2000;
    transition: all .5s;
    transition-timing-function: ease-in;
}

.navbar__black {
    background: #0a0a0a;
}

.itens {
    display: flex;
    position: relative;
    right: 20px;
    cursor: pointer;
}

li {
    margin-right: 15px;
    font-size: 1.1rem;
}

.item-navbar {
    font-weight: 400;
    transition: ease-in-out .1s;
}

.item-navbar:hover {
    color: #fff;
    background-color: #FF1C52;
    padding: 5px;
    border-radius: 3px;
}

.logo {
    height: 60px;
    object-fit: contain;
    position: relative;
    left: 20px;
}

.nav-toggle {
    display: none;
}

/* Responsividade */
@media (max-width: 700px) {
    .itens {
        position: absolute;
        top: 80px;
        flex-direction: column;
        background: #FF1C52;
        left: 0;
        width: 100%;
        height: 12rem;
        transform: translateX(-100%);
        transition: all .5s;
    }

    .itens > a::before {
        background: transparent;
    }

    .itens.open {
        transform: translateX(0);
    }

    li {
        position: relative;
        top: 20px;
        margin-bottom: 20px;
    }

    .item-navbar {
        margin-left: 20px;
    }

    .item-navbar:hover {
        background-color: #161616;
    }

    .nav-toggle {
        display: flex;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        right: 30px;
    }

    .bar {
        position: relative;
        width: 32px;
        height: 2px;
        background: #fff;
    }

    .bar::before, .bar::after {
        content: '';
        position: absolute;
        height: 2px;
        background: #fff;
        border: 5px;
        transition: all .5s ease-in-out;
    }

    .bar::before {
        width: 25px;
        transform: translateY(-8px);
        right: 0;
    }

    .bar::after {
        width: 32px;
        transform: translateY(8px);
    }

    .nav-toggle.open > .bar {
        transform: translateX(-40px);
        background: transparent;
    }

    .nav-toggle.open > .bar::before {
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }

    .nav-toggle.open > .bar::after {
        width: 32px;
        transform: rotate(-45deg) translate(26px, 26px);
    }
}