.container__projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
}

.container__cards {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.link__repositorio {
    font-size: 1.2rem;
    color: #B4B4B4;
    transition: ease-in-out .8s;
    margin-bottom: 35px;
}

.link__repositorio:hover {
    color: #d1d1d1;
}

.link__repositorio:hover .seta {
    position: relative;
    left: 5px;
}

@media(max-width: 1360px) {
    .container__projetos {
        padding: 0 60px;
    }
}

@media (max-width: 770px) {
    .container__projetos {
        padding: 0;
    }
}

@media (max-width: 675px) {
    .link__repositorio {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}