@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: unset;
}

html {
  height: 100%;
  width: 100%;
  font-family: 'Dosis', sans-serif;
  background: #111111;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

body::-webkit-scrollbar {
  width: 12px;               
}

body::-webkit-scrollbar-track {
  background: #111111;       
}

body::-webkit-scrollbar-thumb {
  background-color: #FF3E60;    
  border-radius: 20px;       
  border: 3px solid #111111;  
}